/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content: space-between;
	align-items:normal;
	
}
.hero>img{
	height:55vh;
	width:55vw;
	object-fit:cover;
}
.hero-inside{
	margin: auto;
	width:50%;
	padding:10px;
}
.hero-inside>h1, .hero-inside>p{
	text-align:center;
}
.hero-inside>button{
	margin-left:30%;
	padding:10px;
	color:white;
	background-color:red;
	border:none;
	border-radius:5px;
}